<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0" />
    </material>

    <material name="orange">
        <color rgba="1.0 0.3 0.1 1.0" />
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1.0 1.0" />
    </material>

    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0" />
    </material>

    <xacro:macro name="box_inertia" params="m x y z o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m/12) * (z*z + y*y)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (x*x + z*z)}"
                iyz="0.0" izz="${(m/12) * (x*x + y*y)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="m r l o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m/12) * (3*r*r + l*l)}" ixy="0.0" ixz="0.0"
                iyy="${(m/12) * (3*r*r + l*l)}" iyz="0.0" izz="${(m/2) * (r*r)}" />
        </inertial>
    </xacro:macro>

</robot>